@model IPagedList<BTTH04.Models.Product>


<div class="row gx-4 gx-lg-5 row-cols-2 row-cols-md-3 row-cols-xl-4 justify-content-center">
    @foreach(var item in Model)
    {
        if(item.isSale == true)
        {
            <div class="col mb-5">
                <div class="card h-100">
                    <!-- Sale badge-->
                    <div class="badge bg-danger text-white position-absolute text-bg-danger" style="top: 0.5rem; right: 0.5rem">Giảm giá</div>
                    <!-- Product image-->
                    <img class="card-img-top" src="@item.Image" alt="..." />
                    <!-- Product details-->
                    <div class="card-body p-4">
                        <div class="text-center">
                            <!-- Product name-->
                            <h5 class="fw-bolder">@item.Name</h5>
                            <!-- Rating-->
                            <div class="d-flex justify-content-center small text-warning mb-2">
                                @for (int i = 1; i <= 5; i++)
                                {
                                    <div class="bi-star-fill @(item.rating < i ? "text-muted" : "")"></div>
                                }
                            </div>
                            <!-- Product price-->
                            <span class="text-muted text-decoration-line-through">$@item.Price vnđ</span>
                            <strong class="text-danger">@item.PriceSale vnđ</strong>
                        </div>
                    </div>
                    <!-- Product actions-->
                    <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
                        <div class="text-center"><a class="btn btn-outline-dark mt-auto" href="#">Chọn mua</a></div>
                    </div>
                </div>
            </div>
        }
        else
        {
            <div class="col mb-5">
                <div class="card h-100">
                    <!-- Product image-->
                    <img class="card-img-top" src="@item.Image" alt="..." />
                    <!-- Product details-->
                    <div class="card-body p-4">
                        <div class="text-center">
                            <!-- Product name-->
                            <h5 class="fw-bolder">@item.Name</h5>
                            <!-- Product reviews-->
                            <div class="d-flex justify-content-center small text-warning mb-2">
                                <div class="bi-star-fill"></div>
                                <div class="bi-star-fill"></div>
                                <div class="bi-star-fill"></div>
                                <div class="bi-star-fill"></div>
                                <div class="bi-star-fill"></div>
                            </div>
                            <!-- Product price-->
                            <strong>@item.Price vnđ</strong>
                        </div>
                    </div>
                    <!-- Product actions-->
                    <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
                        <div class="text-center"><a class="btn btn-outline-dark mt-auto" href="#">Chọn mua</a></div>
                    </div>
                </div>
            </div>
        }
    }  
</div>

<div class="pagination-container d-flex justify-content-center">
    <ul class="pagination">

        @if (Model.HasPreviousPage)
        {
            <li class="page-item">
                <a class="page-link" href="@Url.Action("Index", new { page = Model.PageNumber - 1 })">Previous</a>
            </li>
        }

        @for (var i = 1; i <= Model.PageCount; i++)
        {
            <li class="page-item @(i == Model.PageNumber ? "active" : "")">
                <a class="page-link" href="@Url.Action("Index", new { page = i })">@i</a>
            </li>
        }

        @if (Model.HasNextPage)
        {
            <li class="page-item">
                <a class="page-link" href="@Url.Action("Index", new { page = Model.PageNumber + 1 })">Next</a>
            </li>
        }

    </ul>
</div>